body{
    section{
        background-color: lightgray;
        div{
            a{
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
        
            }
        }
    }
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: lightgray;
        padding: 0 0 0 20px;
        margin: 0;
    }
}