footer{
    background-color: lightpink;
    div{
        a{ 
            text-decoration: none;
        }
        img{
            width: 30px;
            opacity: 0.5;
        }

    }
    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0;
    }
}